.button {
	padding: 0.8rem 1.2rem;
	border: 1px solid $primary-color;
	border-radius: $border-radius;
	color: $primary-color;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;

	&:hover {
		background-color: $primary-color;
		color: #fff;
		text-decoration: none;
	}
}